* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1,
h2,
h3,
h5,
h6 {
  padding-bottom: 10px;
  font-size: 30px;
}

h4 {
  padding: 10px;
  font-size: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.chat-app {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.chat-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

}

.chat-main-window {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
  /* width: 20rem; */
  flex-grow: 1;
}

.empty-chat-msg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chat-room-header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.active-chat-icons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.minimize-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.minimize-icon-box:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  border-radius: 5px;
}


.online-status {
  font-size: 14px;
  color: #9c9c9c;

}

.chat-textbox {
  flex-grow: 1;
  padding: 5px;
  border-top: 1px solid #ccc;
  overflow-y: auto;
}

@media (min-width: 768px) {

  .chat-ongoing-chats {
    padding-top: 5px;
    overflow-y: auto;
    min-width: 20rem;
    text-align: center;
  }

  .chatlist-header {
    padding: 8px;
    display: flex;
    justify-content: center;
  }

  .small-screen-search {
    display: none;
  }

  .search-modal {
    display: none;
    opacity: 0;
  }

  .search-modal.show {
    opacity: 0;
  }

  .chat-primary-contacts {
    padding: 5px;
    height: 2rem;
  }

  .chatlist-chatrow {
    padding: 5px;
    height: 3.5rem;
    border-bottom: 1px solid #ccc;
    display: flex;
    cursor: default;
  }

  .chatrow-left {
    width: 50%;
    text-align: left;
  }

  .receiver-first-letter {
    display: none;
  }

  .chatrow-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.chat-message-status {
  font-size: 10px;
  font-style: italic;

}

.contacts-content input[type="text"] {
  text-align: center;
  height: 25px;
  border: 0.5px solid #9c9c9c;
  border-radius: 10px;

}

.contacts-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  gap: 1rem;
  width: 10rem;
}

.contacts-header {
  text-align: center;
}

.contacts-header,
h5 {
  font-size: 18px;
}

.contacts-inner {
  position: relative;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.contacts-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  background: white;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease-out, opacity 0.2s ease-in-out, visibility 0.2s ease-out;
}


.contacts-modal.visible {
  width: 20rem;
  opacity: 1;
  visibility: visible;
}

.menu-container {
  position: relative;
}


.menu-modal {
  position: absolute;
  z-index: 99;
  left: 100%;
  width: 0;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: width 0.2s ease-out, opacity 0.2s ease-out, visibility 0.2s ease-out, left 0.2s ease-out;
}


.menu-modal.visible {
  left: 0;
  width: 13rem;
  opacity: 1;
  visibility: visible;
}

.menu-modal,
li {
  list-style-type: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  left: 20px;
  gap: 3px;
  padding: 8px;
}

.user-contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.user-card {
  width: 11rem;
  height: 3rem;
  border-bottom: 1px solid rgb(175, 175, 175);
  text-align: center;
}

.chat-input-box {
  padding: 0.5rem;
  width: 80%;
  font-size: 14px;
}

.chat-send-button {
  width: 20%;
  padding: 0.5rem;
}

.chat-input-form {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.input-and-send-box {
  width: 100%;
}

.find-chat-input {
  text-align: center;
  width: 15rem;
  height: 1rem;
  padding: 0.8rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.msgcount-container {
  text-align: center;
  background: rgb(206, 203, 203);
  border-radius: 20px;
  display: inline-block;
  min-width: 24px;
  height: 24px;
  padding: 0 8px;
}

.msgcount-container p {
  margin: 0;
}

.paragraph {
  white-space: nowrap;
}

.hamburger-button {
  height: 100%;
}

.button-container {
  width: 11rem;
  display: flex;
  flex-direction: column;

}


@media (max-width: 768px) {

  .chat-ongoing-chats {
    min-width: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 5px;
  }

  .chatlist-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .large-screen-search {
    display: none;
  }

  .small-screen-search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    transition: background-color 0.3s ease;
  }

  .small-screen-search:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    background-color: #f2f2f2;
    border-radius: 24px;
  }

  .search-modal {
    position: absolute;
    height: 2rem;
    top: 2rem;
    left: 4rem;
    background: white;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    width: 0;
    opacity: 0;
    transition: width 0.2s ease-out, opacity 0.2s ease-in-out, visibility 0.2s ease-out;
  }

  .search-modal.show {
    width: 14rem;
    height: 2rem;
    opacity: 1;
  }

  .search-modal-box {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .modal-find-chat-input-field {
    width: 80%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    border-radius: 14px;
    border: none;
    outline: none;
  }

  .close-search-modal {
    height: 30px;
    width: 32px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-color 0.3s ease;
  }

  .close-search-modal:hover {
    cursor: pointer;
    background-color: #ccc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .find-chat-input {
    display: none;
  }

  .chatlist-chatrow {
    display: flex;
    justify-content: center;
  }

  .chatrow-left {
    background-color: #f1eaea;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    padding: 0 16px;
    cursor: default;
  }

  .receiver-first-letter {
    font-size: 32px;
    margin: 0;
  }

  .chatrow-left p {
    display: none;
  }

  .receiver-full-name {
    display: none;
  }

  .chatrow-right {
    position: relative;
  }

  .last-message-timestamp {
    display: none;
  }

  .msgcount-container {
    position: absolute;
    right: 0px;
    top: 35px;
    text-align: center;
    background: rgb(206, 203, 203);
    border-radius: 20px;
    display: inline-block;
    min-width: 18px;
    height: 18px;
    padding: 0 4px;
  }

  .msgcount-container p {
    margin: 0;
    font-size: 12px;
  }

  .paragraph {
    white-space: nowrap;
  }

}