* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1,
h2,
h3,
h5,
h6 {
  padding-bottom: 10px;
  font-size: 30px;
}

h4 {
  padding: 10px;
  font-size: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-app {
  border: 1px solid #ccc;
  min-width: 20rem;
  min-height: 10rem;
  max-width: 40rem;
}

.chat-wrapper {
  display: flex;
  flex-direction: row;

}

.chat-main-window {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
  width: 20rem;
  height: 40rem;
}

.chat-room-header {
  padding: 5px;
}

.online-status {
  font-size: 14px;
  color: #9c9c9c;

}

.chat-textbox {
  flex-grow: 1;
  padding: 5px;
  border-top: 1px solid #ccc;
  overflow-y: auto;
}

.find-chat-input {
  width: 5rem;
}

.chat-ongoing-chats {
  height: 40rem;
  padding-top: 5px;
  overflow-y: auto;
  width: 15rem;
  text-align: center;
}

.chatlist-header {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.chat-primary-contacts {
  padding: 5px;
  height: 2rem;
}

.chatlist-chatrow {
  padding: 5px;
  height: 3.5rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.chatrow-left {
  width: 50%;
  text-align: left;
}

.chatrow-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.chat-message-status {
  font-size: 10px;
  font-style: italic;

}

.contacts-content input[type="text"] {
  text-align: center;
  height: 25px;
  border: 0.5px solid #9c9c9c;
  border-radius: 10px;

}

.contacts-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  gap: 1rem;
  width: 10rem;
}

.contacts-header {
  text-align: center;
}

.contacts-header,
h5 {
  font-size: 18px;
}

.contacts-inner {
  position: relative;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 20rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.contacts-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  background: white;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease-out, opacity 0.2s ease-in-out, visibility 0.2s ease-out;
  /* Adjust the transition */
}


.contacts-modal.visible {
  width: 20rem;
  opacity: 1;
  visibility: visible;
}

.menu-container {
  position: relative;
}


.menu-modal {
  position: absolute;
  left: 100%;
  width: 0;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: width 0.2s ease-out, opacity 0.2s ease-out, visibility 0.2s ease-out, left 0.2s ease-out;
}


.menu-modal.visible {
  left: 0;
  width: 11rem;
  opacity: 1;
  visibility: visible;
}

.menu-modal,
li {
  list-style-type: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  left: 20px;
  gap: 3px;
  padding: 5px;
}

.user-contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.user-card {
  width: 11rem;
  height: 3rem;
  border-bottom: 1px solid rgb(175, 175, 175);
  text-align: center;
}

.chat-input-box {
  padding: 0.5rem;
  width: 80%;
  font-size: 14px;
}

.chat-send-button {
  width: 20%;
  padding: 0.5rem;
}

.chat-input-form {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.input-and-send-box {
  width: 100%;
}

.find-chat-input {
  width: 9rem;
  height: 1rem;
  padding: 0.8rem;
  border-radius: 10px;
}

.msgcount-container {
  text-align: center;
  background: rgb(206, 203, 203);
  border-radius: 20px;
  display: inline-block;
  min-width: 24px;
  height: 24px;
  padding: 0 8px;
}

.msgcount-container p {
  margin: 0;
}

.paragraph {
  white-space: nowrap;
}

.hamburger-button {
  height: 100%;
}

.button-container {
  width: 11rem;
  display: flex;
  flex-direction: column;

}