* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 5px;
}

h2, h3, h4, h5, h6 {
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center; /* Horizontally center the chat app */
  align-items: center; /* Vertically center the chat app */
  height: 100vh; /* Set the height of the root container to the full viewport height */
}

.chat-app {
  border: 1px solid #ccc;
  min-width: 10rem;
  max-width: 40rem;
  height: 30rem;
}

.chat-wrapper {
  display: flex;
  flex-direction: row;
}

.chat-main-window {
  padding: 5px;
}

.chat-textbox {
  padding: 5px;
}

.chat-textbox {
  height: 20rem;
  width: 15rem;
  border: 1px solid #ccc;
  overflow-y: auto;
}

.chat-ongoing-chats {
  height: 15rem;
  padding: 5px;
  overflow-y: auto;
  width: 10rem;
  text-align: center;
  
}

.chat-primary-contacts {
  padding: 5px;
  height: 2rem;
}


.contacts-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10rem;
  height: 10rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 4s ease-out, visibility 4s ease-out;
}

.contacts-modal.visible {
  opacity: 1;
  visibility: visible;
}
.input-and-send-box {
  width: 15rem;
}

.chat-input-box {
  width: 12rem;
}

.chat-send-button {
  width: 3rem;
}