.menu-container {
    position: relative;
  }
  
  .hamburger-button {
    font-size: 1rem;
    cursor: pointer;
  }
  
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; /* Apply transition effect to transform */

  }
  
  .menu-container.open .menu {
    transform: translateX(0); /* Slide the menu in when open */
  }
  
  
  .menu-items {
    padding: 0;
    list-style: none;
  }
  
  .menu-items li {
    padding: 0.5rem;
  }
  