.positions-box {
  position: relative;
  display: flex;
  justify-content: center;
  height: 0;
  overflow: visible;
}

.option-input {
  font-size: 1rem;
  text-align: center;
}

.option-item {
  text-align: center;
  background-color: #fff;
  color: #000;
  /* margin: auto; */
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.option-item:hover {
  background-color: #f0f0f0;
}